.searchNavbarAP {
  max-width: 100%;
  width: 100%;
  height: 3rem;
  background-color: #ffffff;
  padding: 0 3rem;
  font-size: 0.9rem;
  font-weight: 600;
  box-shadow: 1px 3px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
  margin-bottom: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.childOne {
  width: 70%;
  display: flex;
  gap: 2rem;
  align-items: center;
  height: 90%;
}

.searchNavbarAP img {
  height: 1.5rem;
}
.inputSearch {
  width: 80%;
}
.mainDropdown {
  padding: 1rem 0rem;
  width: fit-content;
  z-index: 99999;
  position: absolute;
  background-color: rgb(255, 255, 253);
  border: none;
  border-radius: 5px;
  left: 7rem;

  overflow-y: auto;
}
.dropDowndiv {
  display: flex;
  gap: 0.2rem;
  height: 25rem;
}
.dropdownOptions {
  padding: 0.7rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  min-width: 15rem;
}
.dropdownOptions:hover {
  background-color: aliceblue;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(17, 16, 16);
  opacity: 0.5;
  z-index: 99;
  cursor: pointer;
}
.hidden {
  display: none;
}
.show {
  display: block;
}

.nav-band {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.childTwo button {
  background-color: rgb(210, 65, 21);
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  color: #ffffff;
}
@media screen and (max-width: 769px) {
  .searchNavbarAP {
    padding: 0 2rem;
  }
  .childOne {
    width: 80%;
    gap: 0.5rem;
  }
}
